.card {
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background);
  border-radius: 5px;
}

.card.last {
  border: 4px solid var(--border);
}

.image {
  max-width: 200px;
  height: auto;
  align-self: center;
}
