.main {
  min-height: 85vh;
  padding: 2%;
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  background-color: var(--main-background);
}

.container:has(.detailed_results) {
  display: flex;

  .main {
    width: 60%;
  }

  .detailed_results {
    width: 40%;
  }
}
