.show_password_input {
  position: absolute;
  top: 35px;
  right: 10px;
  width: 30px;
  height: 30px;
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  background-image: url('../../assets/open_eye.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.show_password_input:checked {
  background-image: url('../../assets/closed_eye.png');
}
