.cards_wrapper {
  min-height: 85vh;
  padding: 2%;
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  background-color: var(--main-background);
}

.card {
  width: 250px;
  padding: 2%;
  border: 2px solid var(--border);
  background-color: var(--card-background);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1000;
}

.yoda {
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url(/src/assets/yoda.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (hover: hover) {
  .card:hover {
    transform: scale(0.98);
  }
}
