.page {
  min-height: 85vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  background-color: var(--main-background);
}

.results_section {
  width: 100%;
  display: flex;
  gap: 1em;
}

.results_list {
  width: 40%;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.results_list * {
  margin: 0px;
  padding: 0px;
  padding-left: 5%;
  list-style: none;
  color: var(--border);
}

.results_item {
  text-decoration: none;
  margin-top: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.detailed_results {
  width: 80%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--border);
  background-color: var(--card-background);
  border-radius: 10px;
  color: white;
  transition: 0.3s;
  z-index: 1000;
  position: relative;
}

.close_detailed {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  border: none;
  background-color: var(--background);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.yoda {
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url(/src/assets/yoda.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.spinner {
  width: 80px;
  height: 80px;
  margin-top: 100px;
  padding: 8px;
  border-radius: 50%;
  background: var(--border);
  --_m:
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
          mask: var(--_m);
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

@media (hover: hover) {
  .card:hover {
    transform: scale(0.98);
  }

  .results_item:hover,
  .close_detailed:hover {
    transform: scale(0.95);
  }
}
