.search_form {
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search_input {
  display: block;
  height: 40px;
  max-width: 180px;
  padding-left: 2%;
  border: 2px solid var(--background);
  border-radius: 10px;
}

.submit_input {
  height: 40px;
  display: block;
  padding: 2%;
  background-color: var(--background);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  transition: 0.3s;
}

@media (hover: hover) {
  .submit_input:hover {
    transform: scale(0.95);
  }
}
