.not_found_page {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--error);
  color: white;
}

.nav_link {
  margin-top: 20px;
  text-decoration: none;
  color: var(--border);
  transition: 0.3s;
}

@media (hover: hover) {
  .nav_link:hover {
    transform: scale(1.08);
  }
}
