:root {
  --cambridge-blue: #809885ff;
  --platinum: #e3e3e3ff;
  --silver: #b1b2b1ff;
  --dark-moss-green: #3a5f25ff;
  --antiflash-white: #ebebebff;
  --background-color: rgba(248, 249, 244, 0.8);
  --error-message-color: #da5e5e;
  --fern-green: #587752ff;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-width: 100%;
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
