@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --border: hsl(224, 73%, 47%);
  --background: hsl(222, 81%, 73%);
  --error: 	hsl(11, 87%, 62%);
  --main-background: 	hsl(13, 86%, 91%);
  --header-background: hwb(6 58% 2%);
  --card-background: hsla(221.62, 81.02%, 73.14%, 60%);
  --title: hsla(72, 29.41%, 96.67%, 80%);
}

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-width: 100%;
  min-height: 100vh;
}
