@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --border: hsl(224, 73%, 47%);
  --background: hsl(222, 81%, 73%);
  --error: 	hsl(11, 87%, 62%);
  --main-background: 	hsl(13, 86%, 91%);
  --header-background: hwb(6 58% 2%);
  --card-background: hsla(221.62, 81.02%, 73.14%, 60%);
  --title: hsla(72, 29.41%, 96.67%, 80%);
}

@theme inline {
  --font-display: "Orbitron", "sans-serif";

  --color-border: var(--border);
  --color-background: var(--background);
  --color-error: 	var(--error);
  --color-main-background: 	var(--main-background);
  --color-header-background: var(--header-background);
  --color-card-background: var(--card-background);
  --color-title: var(--title);
}

.dark {
    --border: hsl(224, 73%, 47%);
    --main-background: hsl(226, 60%, 10%);
    --header-background: hsl(218, 100%, 16%);
    --detailes-background: hsla(209, 95%, 24%, 0.6);
    --background: hsl(222, 100%, 61%);
    --error: hsl(351, 71%, 38%);
    --card-background: hsla(221.62, 81.02%, 73.14%, 60%);
    --title: hsla(72, 29.41%, 96.67%, 80%);
}

@layer utilities {
  .spinner {
    --_m:
      conic-gradient(#0000 10%, #000),
      linear-gradient(#000 0 0) content-box;
    mask: var(--_m);
    mask-composite: subtract;
    animation: spin-conic 1s linear infinite;
  }

  @keyframes spin-conic {
    to {
      transform: rotate(1turn);
    }
  }
}

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  color: white;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}
